{% extends 'main/layout.html' %}

{% block title %}{{ title| upper }}{% endblock %}


{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <a href="{% url 'news_home' %}"><button class="btn btn-warning"> На страницу новости </button></a>
        <p>

Меня зовут Константин, и я специалист Junior Python. Я помогаю людям решать вопросы в Python - программировании,
            предоставляя им качественные услуги.

Мой опыт и знания позволяют мне эффективно работать с клиентами, находить индивидуальный подход к каждому и помогать им
            достигать поставленных целей. Я постоянно развиваюсь и слежу за новыми тенденциями в своей области,
            чтобы быть в курсе последних методик и технологий.

Почему стоит выбрать меня?

Опыт и знания. Я имею год опыта работы в Python и постоянно повышаю свою квалификацию.

Индивидуальный подход. Я учитываю потребности и возможности каждого клиента, чтобы предложить ему наиболее подходящее решение.

Эффективность. Мои методы работы позволяют достигать результатов в короткие сроки.

Качество. Я предоставляю услуги высокого качества, соответствующие ожиданиям клиентов.

Доступность. Я открыт для общения и готов ответить на все ваши вопросы.

Если вы ищете специалиста, который поможет вам решить задачу с помощью Python, обращайтесь ко мне.
            Я буду рад помочь вам достичь успеха!</p>
    </div>

{% endblock %}